.webp {
  position: relative;
  background: url("bg-main-top-small.jpg") center 100px / 100% no-repeat, white;
}

.webp::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  max-height: 100px;
  background-color: black;
  z-index: 1;
  width: 100%;
  aspect-ratio: 960/95;
}
.flexforms_wrapper {
  z-index: 2;
  position: relative;
}

.footer_background {
  background-color: #cfcfd1;
}

.footer,
.footer a,
.footer a:hover,
.footer a:visited {
  color: #7d7d83 !important;
}

@media screen and (max-width: 1010px) {
  .webp {
    position: relative;
    background: url("bg-main-top-small.jpg") center 37px / 100% no-repeat, white;
  }
}

@media screen and (max-width: 400px) {
  .webp {
    position: relative;
    background: url("bg-main-bottom-small.jpg") center top / 100% 37px no-repeat,
      url("bg-main-top-small.jpg") center 37px / 100% no-repeat, white;
    background-color: white;
  }
}
