.webp {
  position: relative;
  background: linear-gradient(to bottom, #cbcbcb, #fff 30%) no-repeat, white;
}

.webp::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  max-height: 100px;
  background-color: black;
  z-index: 1;
  width: 100%;
  aspect-ratio: 960/95;
}
.flexforms_wrapper {
  z-index: 2;
  position: relative;
}

@media screen and (max-width: 1010px) {
  .webp {
    position: relative;
    background: linear-gradient(to bottom, #cbcbcb, #fff 20%) no-repeat, white;
  }
}
